<div class="editorbg">
    <div class="calendar-header">Calendar Editor</div>
    <div class="calendar-border"></div>
    <div class="link"><a [routerLink]="['/calendar']">Calendar</a></div>
    <div class="col-md-6" style="text-align: center;">
        <input class="edit-input" placeholder="Company name"/>
        <input class="edit-input" placeholder="Calendar Background Url"/>
        <input class="edit-input" placeholder="Add participant"/>
        <div class="door-edit-container">
            <div style="font-size: 18px;">Edit Door Number: X</div>
            <input class="edit-input" placeholder="prize"/>
            <input class="edit-input" placeholder="prizeImg - optional"/>
            <input class="edit-input" placeholder="Instructions: 'Pick up prize at...'"/>
        </div>
    </div>
    <div class="col-md-6">
        <div class="door-select">1</div>
        <div class="door-select">2</div>
        <div class="door-select">3</div>
        <div class="door-select">4</div>
        <div class="door-select">5</div>
        <div class="door-select">6</div>
        <div class="door-select">7</div>
        <div class="door-select">8</div>
        <div class="door-select">9</div>
        <div class="door-select">10</div>
        <div class="door-select">11</div>
        <div class="door-select">12</div>
        <div class="door-select">13</div>
        <div class="door-select">14</div>
        <div class="door-select">15</div>
        <div class="door-select">16</div>
        <div class="door-select">17</div>
        <div class="door-select">18</div>
        <div class="door-select">19</div>
        <div class="door-select">20</div>
        <div class="door-select">21</div>
        <div class="door-select">22</div>
        <div class="door-select">23</div>
        <div class="door-select">24</div>
    </div><br/>
    <div class="col-md-12 participants-container">
        <div style="font-size: 18px;margin-bottom: 10px;">Participiants</div>
        <div class="btn btn-default" style="min-width: 120px; text-align: left;">Johnny<div style="margin-left: 10px;" class="glyphicon glyphicon-remove" style="float: right; line-height: 18px; color: red;"></div></div>
        <div class="btn btn-default" style="min-width: 120px; text-align: left;">Jan-Inga<div style="margin-left: 10px;" class="glyphicon glyphicon-remove" style="float: right; line-height: 18px; color: red;"></div></div>
        <div class="btn btn-default" style="min-width: 120px; text-align: left;">Pål-Ove<div style="margin-left: 10px;" class="glyphicon glyphicon-remove" style="float: right; line-height: 18px; color: red;"></div></div>
        <div class="btn btn-default" style="min-width: 120px; text-align: left;">Karianne<div style="margin-left: 10px;" class="glyphicon glyphicon-remove" style="float: right; line-height: 18px; color: red;"></div></div>
        <div style="font-style: italic; color: yellow; margin-top: 10px; margin-bottom: -10px;">All participants log in by using the comany name of the calendar and the participant name as is it typed in this list.</div>
    </div>

</div>