<div class="editorbg">
    <div class="calendar-header">Calendar Editor<div class="calendar-border"></div></div>

    <div class="link"><a [routerLink]="['/calendar']">Calendar</a></div>

    <div class="col-md-6" style="text-align: center;">

        <input class="edit-input" placeholder="Company name"/>
        <input class="edit-input" placeholder="Calendar Background Url"/>
        <input class="edit-input" placeholder="Add participant" [(ngModel)]="newParticipant" (keyup.enter)="addParticipant(newParticipant)"/>

        <div class="door-edit-container">
            <div style="font-size: 18px;">Edit Door Number: {{selectedDoor.number}}</div>
            <input  class="edit-input" placeholder="prize" [(ngModel)]="selectedDoor.prize" (keyup)="updateEntry('prize')" />
            <input class="edit-input" placeholder="prizeImg - optional" [(ngModel)]="selectedDoor.imageUrl" (keyup)="updateEntry('imageUrl')" (keyup.enter)="enterToTab()" />
            <input class="edit-input" placeholder="A Memorable quote." [(ngModel)]="selectedDoor.quote" (keyup)="updateEntry('quote')" />
            <input class="edit-input" placeholder="Instructions: 'Pick up prize at...'" [(ngModel)]="selectedDoor.instructions" (keyup)="updateEntry('instructions')" />
            <div style="font-style: italic; color: yellow; margin-top: 10px; margin-bottom: -10px;">This box saves everything, always.</div>
        </div>

    </div>

    <div class="col-md-6">
        <div *ngFor="let door of editorService.doors; let i = index" (click)="showDoorData(i); highlightStatus[i]" [class.selected]="highlightStatus[i]" class="door-select">{{i+1}}</div>
    </div><br/>

    <div class="col-md-12 participants-container">
        <div style="font-size: 18px;margin-bottom: 10px;">Participiants</div>
        <div *ngFor="let person of this.editorService.participants; let i = index" class="btn btn-default" style="min-width: 120px; text-align: left; margin-right: 2px;">{{person.name}}<div (click)="removeParticipant(i)" style="margin-left: 10px;" class="glyphicon glyphicon-remove" style="float: right; line-height: 18px; color: red; cursor: pointer;"></div></div>
        <div style="font-style: italic; color: yellow; margin-top: 10px; margin-bottom: -10px;">All participants log in by using the comany name of the calendar and the participant name as is it typed in this list.<br/>Once the calendar is initiated on the 1st of December, participants can no longer be edited.</div>
    </div>


    <div>NOTE: Create small front-login for the editor. Requires companyName and admin password. POST to BE. Create 'End Edit'-button</div>

</div>