<div class="christmasbg">

    <div class="calendar-header">Julekalender for {{calendarService.userCalendar.companyName}}</div>
    <div class="calendar-border"></div>
    <div>{{errorMessage}}</div>
    <cc-door *ngFor="let door of calendarService.userCalendar.doorSequence; let i = index;" [doorNumber]="door"  [containerId]="'number-' + door" ></cc-door>
    <div class="link">
        <a [routerLink]="['/']">Front Page</a><br/>
        <a [routerLink]="['/editor']">Editor</a>
    </div>

</div>
<cc-modal></cc-modal>