<div class="{{isSnowing ? 'frontbg snow': 'frontbg'}}">
    <div class="calendar-header">{{languageService.texts.mainHeader[languageService.setLanguage]}}</div>

    <div class="flag-container">
        <div class="flag flag-gb" (click)="switchLanguage('gb')"></div>
        <div class="flag flag-no" (click)="switchLanguage('no')"></div>
    </div>

    <div style="position: absolute; top :10px; left: 10px; display: none;">{{winWidth}}</div>
    <div style="position: absolute; top :30px; left: 10px; display: none;">{{winHeight}}</div>

    <div class="col-sm-4" style="display: none;">
        {{languageService.texts.welcome[languageService.setLanguage+1]}}<br/><br/>
        {{languageService.texts.welcome[languageService.setLanguage+2]}}<br/><br/>
        {{languageService.texts.welcome[languageService.setLanguage+3]}}<br/><br/>
        {{languageService.texts.welcome[languageService.setLanguage+4]}}<br/><br/>
        </div>

    <div class="loginplate" style="position: relative;">
        <div class="snow-toggle" (click)="toggleSnow()"></div>
        <h3>{{languageService.texts.loginHead[languageService.setLanguage]}}</h3>
        <div class="input-header">{{languageService.texts.calName[languageService.setLanguage]}}</div>
        <input class="front-input" placeholder="" [(ngModel)]="companyName" (focus)="hideError()"
               popover="{{languageService.popovers.frontCalName[languageService.setLanguage]}}"
               popoverPlacement="top"
               [popoverOnHover]="true"
               [popoverAnimation]="true"/>
        <br/><br/>
        <div class="input-header">{{languageService.texts.userName[languageService.setLanguage]}}</div>
        <input class="front-input"  placeholder="" [(ngModel)]="participantName" (focus)="hideError()"
               popover="{{languageService.popovers.frontUserName[languageService.setLanguage]}}"
               popoverPlacement="top"
               [popoverOnHover]="true"
               [popoverAnimation]="true"/>
        <div class="button" style="width: 80%; margin-top:20px; position: relative;" (click)="calendarService.getCalendar(companyName, participantName)">
            <div class="timer" [style.display]="calendarService.loaderVisible"></div>{{languageService.texts.openCal[languageService.setLanguage]}}
        </div>
    </div>
    <div class="error-message">{{calendarService.errorMessage}}</div>
    <div class="button-container">
        <div class="separator"></div>
        <div [routerLink]="['/editor-front']" class="button button-new"
             style="width: 100%;" (click)="calendarService.wantNewCalendar = true">{{languageService.texts.createNew[languageService.setLanguage]}}</div>
        <div [routerLink]="['/editor-front']" class="button button-new"
             style="width: 100%; margin-top: 20px;" (click)="calendarService.wantNewCalendar = false">{{languageService.texts.adminCal[languageService.setLanguage]}}</div>
    </div>

    <div class="ornament">
        <img src="/app/assets/images/silver-balls.png" width="90%" style="margin-top: 0px; margin-bottom: 20px;"/>
    </div>
    <div style="height: 50px; position: fixed; bottom: 0px; left: 0px; width: 100%; background: url(/app/assets/images/bluetop.png); display: none;"></div>
</div>