<div class="frontbg">
    <div class="calendar-header">Office Advent Calendar</div>
    <div class="calendar-border"></div>
    <div class="link"><a [routerLink]="['/calendar']">Calendar</a></div>
    <div class="col-sm-4">Welcome to the Office Advent Calendar.
        <br/><br/>
        Calendars are fun, and it@s awyas great to know that every morning, when you get into the office, there will is a possibility that you have won something. A bag of sweets, a pack of Pokemon cards, or an hour off at the end of the day.
        <br/><br/>
        Whatever the prize, it's something to talk about in coffee breaks. Anyone can create a calendar, so just get to it. It's not hard at all.
        <br/><br/>
        Click on the 'Create New Calendar' if you want to start one, or just enter your company and your own name to check whats behind today's door for you.
        <br/><br/>
        We live in exciting times!
        `</div>
    <div class="col-sm-4" style="text-align: center;">
        <div>Company Name</div>
        <input class="front-input" placeholder="Place Of Business" style="width: 80%;"/>
        <br/><br/>
        <div>Participant Name</div>
        <input class="front-input"  placeholder="Type Name Right Here" style="width: 80%;"/>
    </div>
    <div class="col-sm-4" style="text-align: center;">
        <div class="btn btn-success">Create New Calendar</div>
    </div>
</div>