<div class="door-container" onClick="" id="{{containerId}}">
    <div><div style="position:absolute; height: 100%; width: 100%; mix-blend-mode: color-dodge;overflow: hidden;" [ngStyle]="{ 'opacity': doorOpen ? 1 : 0}">
        <img class="image" src="https://www.jukeboxprint.com/images/3d-embossed-black-business-card.jpg" (click)="door.open(small, prize, doorNumber, instructions, imageUrl, userWin)"/>
    </div></div>
    <div (click)="toggleDoor()"  class="{{doorOpen ? 'card card-open' : 'card'}}" style="position: absolute;">
        <div class="face front" id="front" [style.backgroundPosition]="bgPos">
            {{doorNumber}}
            <div class="timer" id="loader-{{doorNumber}}" [style.display]="loaderVisible"></div>
        </div>
        <div class="face back"><p>{{doorQuote}}</p></div>
    </div>
</div>
<cc-modal #door></cc-modal>