body {
    margin: 0;
    padding: 0;
}
li {
    font-size: large;
}

div.panel-heading {
   font-size: x-large; 
}
.christmasbg {
    width: 100%;
    height: 800px;
    background-size: cover:;
    background: url('/app/assets/images/calendar-bg.jpg');
    color: white;
    margin: 0;
}